
{% block about %}
  <div class="container">
    <div class="row">
      <div class="col-offset-1 col-md-3" id="profpic"a>
        <img src="/static/img/profile.jpg" alt="" title="anna">
      </div>
      <div class="col-md-8">
        <h1>About Annaaaaa</h1>
        <p>
          Here is where you put some or many lines about yourself.
        </p>
        <p>
          Put some lines about your experience and your career. Put some lines about anything you like. It's not up to me, the ghost in the machine!
        </p>
      </div>
    </div>
  </div>
{% endblock %}