{% block pricing %}
<section id="pricing" class="anchor">
  <div class="container">
    
    <div class="row">
     <h1>Pricing</h1>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">
          <p>Some text about the panel body</p>
          <table class="table">
            <tr>
              <td><strong>One hour</strong></td>
              <td>$1,000,000</td>
            </tr>
            <tr>
              <td><strong>Two Hour</strong></td>
              <td> $50 </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}