{% block services %}
<section id="services" class="anchor">
  <div class="container" id="services-container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 block-title">
        <h1>Services</h1>
        <p>Some services for you</p>
      </div>
    </div>

    <div class="row" id="service-row">
      <div class="col-md-2">
        <i class="icon-sun"></i>
      </div>
      <div class="col-md-4">
        <h3>CBT</h3>
        <p>Some writing about CBT. In fact please write a lot about CBT so we can see how it will look to have the correct amount of text display on a screen you piece of sheet rerb. Its like you are talking to yourself. Will people even read this dummy text? I don't know. Its weird to do that.</p>
      </div>
      <div class="col-md-2">
        <i class="icon-female"></i>
      </div>
      <div class="col-md-4">
        <h3>Yoga</h3>
        <p>I write about yoga. I write about yoga all the time. Its a controversial topic. Only because I'm a controversial person. Never spelling contraversil the same way twice. Always mixing it up.</p>
      </div>
    </div>

    <div class="row" id="service-row">
      <div class="col-md-2">
        <i class="icon-facetime-video"></i>
      </div>
      <div class="col-md-4">
        <h3>Extreme Facetime</h3>
        <p>The newest of all the therapies, extremem facetime is just the latest way to get health care delivered to your face. We put the word extreme at the front to grab people's attention and focus our marketing on people with attention spans that are short. Read all that?</p>
      </div>
      <div class="col-md-2">
        <i class="icon-heart"></i>
      </div>
      <div class="col-md-4">
        <h3>Holistic</h3>
        <p>The whole thing is a holistic approach. You should try it for yourself this holistic business. Its quite funny. No doubt. Like you laugh because you are so free and covered. Its incredible. Really.</p>
      </div>
    </div>

  </div>
</section>
{% endblock %}